.nav_logo {
    font-size: 18px;
}

/* top nav bar  */
.primary_nav {
    max-width: var(--container);
    margin: 0 auto;
    background-color: var(--card_bg);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: var(--radius_5px);
    position: sticky;
    top: 0;
    z-index: 1;

}

.nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_menu li {
    margin-right: 20px;
}

.nav_menu a {
    color: #fefefe;
    transition: color 0.3s ease;
}

.nav_menu a:hover,
.nav_menu a:hover:active {
    color: var(--primary_color);
}



/* hero section  */

.hero {

    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;

}


.hero_left {

    display: flex;
    flex-direction: column;
    gap: 10px;

}


/* profile pic */
.profile_pic {
    height: 300px;
    width: 300px;
    border-radius: var(--radius_5px);
}

.profile_info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social_iocn {
    width: 300px;
}

.hero_right {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero_title {
    font-size: calc(20px + (16 * ((100vw - 320px) / 680)));

}


/* Skills section  */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.skills_title{
    font-size: 48px;
    color: var(--text_color);
    padding: 20px 0px;
    border-bottom: 5px dashed var(--primary_color);
}
.skills_icon{
    max-width: 500px;
    margin: 20px;

}
.skills_icon img {
    height: 42px;
    width: 42px;
}

