.nav_logo {
    font-size: 18px;
}

/* top nav bar  */
.primary_nav {
    max-width: var(--container);
    max-height: 50px;
    margin: 0 auto;
    background-color: var(--card_bg);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: var(--radius_5px);
    position: sticky;
    top: 0;
    z-index: 1;


}

.nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_menu li {
    margin-right: 20px;
}

.nav_menu a {
    color: #fefefe;
    transition: color 0.3s ease;
}

.nav_menu a:hover,
.nav_menu a:hover:active {
    color: var(--primary_color);
}



/* hero section  */

.hero {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;

}


.hero_left {
    display: flex;
    flex-direction: column;
    gap: 10px;

}



/* profile pic */
.profile_pic_container{
    height: 300px;
    width: 300px;
    border-radius: var(--radius_5px);
    background-image: url(Images/arnob.png);
    background-size: cover;
}
.profile_pic {
    height: 300px;
    width: 300px;
    border-radius: var(--radius_5px);
}

.profile_info {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.social_iocn {
    width: 300px;
}

.hero_right {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero_title {
    font-size: calc(20px + (10 * ((100vw - 320px) / 680)));

}
.hero_details{
    text-align: justify;
}

/* Skills section  */
.skills_container{
    padding-top: 20px;
    padding-bottom: 20px;
}
.skills {
    margin-top: 40px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items : center;
    gap: 20px;
}
.skills > div {
    width: 350px;
}
.skills_title{
    font-size: 32px;
    color: var(--text_color);
    padding: 10px 0px;
    
}
.skills_icon{
    max-width: 500px;
    margin: 20px;

}
.skills_icon img {
    height: 36px;
    width: 36px;
    
}

.portfolio{
    display: flex;
    flex-direction: column;
}
.portfolio_card_container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.portfolio_card {
    position: relative;
    width: 350px;
    aspect-ratio: 16/9;
    border: 1px solid var(--primary_color);
    border-radius: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid var(--primary_color);
  }
  
  .portfolio_card_image {
    width: 100%;
    height: 100%;
  }
  
  .portfolio_card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .portfolio_card_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .portfolio_card:hover .portfolio_card_content {
    transform: rotateX(0deg);
  }
  
  .portfolio_card_title {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 700;
  }
  
  
  .portfolio_card_description {
    margin: 10px 0 10px;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .portfolio_card_link {
    display: inline-block;
    padding: 10px;
    border-radius: 8px;
    background: #777;
    border: none;
    color: white;
    text-decoration: none;
  }

.services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: var(--container);
    margin: 100px auto;
    padding: 50px 0px;
}

.service_card_container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 20px;
}

.service_card {
    width: 340px;
    height: 300px;
    border-radius: 5px;
    padding: 30px 10px 15px 0px;
    border: 1px solid var(--card_bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.service_card:hover {
    box-shadow:
        0 0 5px var(--card_bg),
        /* Inner white glow */
        0 0 10px rgba(0, 0, 255, 0.47),
        /* Outer red glow */
        0 0 15px rgba(0, 0, 255, 0.435);
    /* Extend red glow for a softer falloff */
}

.service_card_title {
    color: var(--primary_color);
    text-align: center;
    font-size: 24px;
}

.service_card_list_item {
    list-style: square;
    margin: 10px 0px 0px 40px;
}

.service_card_list_item li {
    color: var(--text_color);
    margin: 5px 0px;
}


.service_card_btn {
    margin-top: 20px;
    align-self: center;

}

.service_card_btn button {
    border: none;
}

.services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: var(--container);
    margin: 100px auto;
    padding: 50px 0px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--card_bg);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid var(--primary_color); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:var(--card_bg);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:var(--primary_color); }
