/* importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables for colors */
:root {
    /* colors  */
    --primary_color: #FFD401;
    --secondery_color: #F44336;

    /* Links  */
    --link_txt: #ddd;
    --link_hover: #ddd;

    /* text  */
    --text_color: #888AA5;

    /* cards and background  */
    --card_bg: #1B2142;
    --bg_color: #03001C;

    /* for button */
    --button_bg: #00000000;
    --button_txt: #fff;
    --button_border: #fff;
    --btn-padding: 10px 25px;
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.5s;
    --font-size: 16px;
    --font-weight: 600;
    

    /* fonts  */
    --heading-font: 'Montserrat', sans-serif;
    --subheading-font: 'Raleway', sans-serif;
    --link-font: 'Lato', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --highlighted-font: 'Roboto Condensed', sans-serif;

    /* Border radius */
    --radius_5px: 5px;
    --radius_10px: 10px;
    /* Container width */
    --container: 1440px;

}


